PORT=8000
CLIENT_APP_URL=http://localhost:3000
APP_URL=http://localhost:8000
JWT_SECRET="your_jwt_secret_key"

DATABASE_URL="postgresql://username:password@localhost:5432/vaani_db"

# Kafka Credentials
KAFKA_BROKER="your_kafka_broker:port"
KAFKA_USERNAME="your_kafka_username"
KAFKA_PASSWORD="your_kafka_password"
KAFKA_TOPIC="chats"

REDIS_URL="redis://localhost:6379"